*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'montseratt',sans-serif;
}
.app{
  background-image: url("./Asset/photo-1500740516770-92bd004b996e.jpg") ;
  background-size: cover;
  background-position:center;
  transition: 0.4 ease-in-out;
}
main{
  min-height: 100vh;
  padding: 25px;
  background: linear-gradient(to bottom rgba(0,0,0,0.1) rgba(0, 0, 0, 0.9));
}
.app.sunny{
  background-image: url("./Asset/sunnybg.jpeg") ;
}
input{
  cursor: text;
}
.search_box{
  width: 100%;
  margin:0 0 75px;
}
.search_box .search_bar{
  display: block;
  width:100%;
  padding: 15px;
  appearance: none;
  outline: none;
  border: none;
  background-color:  #e0e0f3;
  border-radius: 0 0 15px 15px;
  margin-top: -25px;
  box-shadow:0px 5px rgba(0,0,0,0.2);
  color: #030336;
  font-size: 20px;
  transition: 0.3s ease;
}
.search_box .search_bar:focus{
  background-color: rgba(158, 214, 231, 0.75);
} 
.location_box .location{
  color:#ffffff;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50,50,70,0.2);
}
.location_box .date{
  color:#ffffff;
  margin-top:10px;
  font-size: 22px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 3px 3px rgba(50,50,70,0.2);
}
.weather_box{
  text-align: center;
}
.weather_box .temp{
  position: relative;
  display:inline-block;
  margin: 30px auto;
  background-color: rgba(255,255,255,0.2);
  border-radius: 15px;
  color: white;
  font-size: 102px;
  font-weight: 900;
  text-shadow: 3px 6px rgba(50,50,70,0.4);
  text-align: center;
  box-shadow: 3px 6px 2px 2px rgba(0,0,0,0.3);
}
.weather_box .weather{
  color: white;
  font-size: 40px;
  font-weight: 600;
  text-shadow: 3px 4px rgba(50,50,70,0.4);
  text-align: center;
}
.temp_container{
  height: 100%;
  width: 100%;
  display: flex;
  padding:10px 38rem; 
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
  font-weight: 600;
  text-shadow: 3px 4px rgba(50,50,70,0.4);
  text-align:center;
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width:400px){
  .temp_container{
    padding:10px 2rem;
  }
  main{
      padding-right: 3rem;
  }
  .date{
    margin-top:10px
  }
}
@media (min-width:401px) and (max-width:549px){
  .temp_container{
    padding:10px 3rem;
  }
  main{
      padding-right: 3rem;
  }
  .date{
    margin-top:10px
  }
}
@media (min-width:550px) and (max-width:650px){
  .temp_container{
    padding:10px 6rem;
  }
}
@media (min-width:651px) and (max-width:770px){
  .temp_container{
    padding:10px 13rem;
  }
  .date{
    margin-top:10px
  }
}
@media (min-width:771px) and (max-width:869px){
  .temp_container{
    padding:10px 14rem;
  }
  .below_search{
    margin-top: 15rem;
  }
  .date{
    margin-top:10px
  }
  .search_box .search_bar{
    width:75%;
    margin:-25px 5rem;
  }
}
@media (min-width:870px) and (max-width:1025px){
  .temp_container{
    padding:10px 19rem;
  }
  .below_search{
    margin-top: 15rem;
  }
  .date{
    margin-top:10px
  }
}
@media (min-width:1226px) and (max-width:1350px){
  .temp_container{
    padding:10px 27rem;
  }
  .below_search{
    /* margin-top: 15rem; */
  }
  .date{
    margin-top:10px
  }
}
@media (min-width:1351px) and (max-width:1450px){
  .temp_container{
    padding:10px 34rem;
  }
  .below_search{
    /* margin-top: 15rem; */
  }
  .date{
    margin-top:10px
  }
}